body {
    margin: 0;
    background-color: lightgray;
}

.header{
    background-color: #106552;
    height: 150px;
    width: 100%;
    border: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 50px;

}

.logo-img {
    height: 70px;
    margin-top: 10px;
    margin-left: 150px;
}

.logo-name {
    color: #B28538;
    font-size: 55px;
    font-family: 'Playfair Dispaly';
    font-style: italic;
    position: relative;
    margin: 0;
}

.user-account {
    color: white;
    height: 100px;
    margin-right: 50px;
}

.pic {
    height: 70px;   
    border-radius: 25px;
    margin-left:35px;
    margin-top: 30px;
}

.profile-name{
    margin: 0;
    font-size: 20px;
    padding-left: 35px;
}


.option-logo {
    height: 50px;
    margin-top: 20px;
    padding-left: 40px;
    padding-top: 30px;
    display: inline-block;
}

.menu{
    margin-right: 50px;
    display: inline-block;
    font-size: 30px;
    position: relative;
    bottom: 15px;
}

.main-div {
    display: grid;
    grid-template-columns: 200px, 1fr;
    column-gap: 50px;
}

.left-tab {
    background-color: #B28538;
    display: grid;
    justify-content: bottom;
    position: fixed;
    bottom: 0;
    top: 150px;
    width: 200px;
}

.icon-div {
    display: grid;
    grid-template-columns: 100px, 1fr;
}

.home-icon, .notification-icon, .bookmark-icon, .share-icon, .search-icon {
    height: 40px;
    width: 60px;
    margin-left: 25px;
    margin-top: 20px;
    display: inline-block; 
}

.bookmark {
    margin-left: 10px;
}

.icon-name {
    color: white;
    font-family: fantasy;
    font-size: 20px;
    margin-left: 20px;
    display: inline-block;
}



.middle-tab {
    display: inline-block;
    padding-left: 250px;
}

.main-middle{
    background-color: #5c7d76;
    height: 600px;
    width: 1250px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 170px;
}

.news-img {
    margin-top: 20px;
    margin-left: 20px;
    height: 350px;
    width: 500px;
    border-radius: 30px;
}

span{
    margin-left: 50px;
}

.comment-icons{
    color: white;
    font-size: 30px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 15px;
}

.icons-input{
    height: 50px;
    width: 350px;
    margin-left: 10px;
    margin-top: 10px;
    display: block;
    border: none;
    border-radius: 40px;
    font-size: 20px;
    padding-left: 20px;
    color: rgb(166, 167, 168);
}

.icons{
    margin-bottom: 40px;
    margin-left: 20px;
}

button{
    position: relative;
    bottom: 50px;
    left: 400px;
    border-radius: 30px;
    border: none;
}

button img{
    height: 40px;
    width: 40px;
    border-radius: 3cqh;
}

.comments-sec{
    display: block;
    margin-left: 20px;
    width: 700px;
    height: 600px;
    overflow: scroll;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;
}



div ul{
    list-style: none;
}

ul li{
    margin-bottom: 70px;
    background-color: #927c54;
    width: 650px;
}

li img{
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 25px;
}

.comment-account{
    position: relative;
    left: 70px;
    bottom: 40px;
    font-size: 23px;
    color: white;
}

.comment{
    width: 550px;
    position: relative;
    left: 80px;
    bottom: 20px;
    color: white;
    font-size: 20px;
}