body {
    background: linear-gradient(to left, #101b37, #020a1f);
    width: 100%;
    margin: 0;
}

.header{
    width: 40vw;
    height: 100px;
    margin: 0;
    display: inline-block;
    background-color: rgb(164, 167, 167);
    position: relative;
    top: 20px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    opacity: 0.7;
}

a {
    color: hsl(332, 85%, 48%);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-left: 30PX;
    position: relative;
    top: 30px;
    left: 60px;
}

.left-sec{
    background-color: rgb(117, 119, 119);
    color:#01c8ee;
    display: inline-block;
    position: absolute;
    left: 60vw;
    height: 70vh;
    bottom: 10px;
    width: 35vw;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    opacity: 0.8;
}

img{
    width: 250px;
}

.main{
    background-color: rgb(117, 119, 119);
    position: relative;
    top: 30px;
    width: 50vw;   
    height: 70vh;
    opacity: 0.8;
    margin-top: 40px;
    margin-left: 20px;
    border-top-right-radius: 250px;
    border-bottom-left-radius: 250px;

}

.info{
    margin-left: 80px;
    margin-right: 50px;
    margin-bottom: 20px;
    color: #01c8ee;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    font-weight: bold;
    text-decoration: underline;
    margin-left: 60px;
}

