body {
    background: linear-gradient(to left, #101b37, #020a1f);
    width: 100%;
    margin: 0;
}

.header{
    width: 40vw;
    background-color: white;
    height: 70px;
    opacity: 0.8;
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 40px;
    border-radius: 50px;
}

a, .tabs {
    color: hsl(332, 85%, 48%);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-top: 20px;
}

.main{
    background-color: white;
    position: relative;
    top: 40px;
    width: 50vw;   
    height: 70vh;
    opacity: 0.8;
    margin-top: 40px;
    margin-left: 20px;
    border-top-right-radius: 250px;
    border-bottom-left-radius: 250px;

}

.info{
    margin-left: 80px;
    margin-right: 50px;
    margin-bottom: 20px;
    color: #01c8ee;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    font-weight: bold;
    text-decoration: underline;
    margin-left: 60px;
}

