body {
    background: linear-gradient(to left, #0e2f5f, #3e465b);
    width: 100%;
    margin: 0;
}

.header{
    width: 50vw;
    height: 70px;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.tabs, a {
    color: hsl(332, 85%, 48%);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-top: 20px;
}

.main{
    color: #01c8ee;
    margin: 30px;
    height: 600px;  
    margin-top: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-pic{
    height: 590px;
    border-radius: 100px;
    border-bottom-left-radius: 10px;
    margin-left: 50px;
}

.main-content{
    margin-left: 170px;
}


#first-name{
    font-size: 20px;
    margin-left: 90px;
    margin-top: 30px;
}


span{
    font-size: 50px;
    display: block;
}

.pro-pic {
    height: 260px;
    border-radius: 120px;
    margin-left: 40px;
}

.media-links{
    font-size: 30PX;
    position: relative;
    left: 600px;
    bottom: 90px;
    height: 100px;
}