body {
    background: linear-gradient(to left, #101b37, #020a1f);
    width: 100%;
    margin: 0;
}

.header{
    width: 100%;
    height: 70px;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

a, .tabs {
    color: hsl(332, 85%, 48%);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-top: 20px;
}

.main{
    color: #01c8ee;
    margin: 30px; 
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 100px;
}

span{
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 60px;
}

