body{
    background-color: #101b37;

}

#score{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: #01c8ee;
    position: absolute;
    top: 1.5em;
    left: 6.5em
}

#time{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: #01c8ee;
    position: absolute;
    top: 1.5em;
    left: 20.5em
}


#turn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: #01c8ee;
    position: absolute;
    top: 12.5em;
    left: 2.5em;
}

.move2{
    margin-top: 1em;
}

#board{
    border-style: solid;
    border-radius: 50px;
    border-color: #01c8ee;
    color: #e41376;
    width: 605px;
    height: 505px;
    position: absolute;
    top: 14em;
    left: 28em;
    display: grid;
    grid-template-columns: repeat(3, 12em);
    grid-template-rows: repeat(3, 10em);
    /*box-shadow: #01c8ee;*/
}

#board div{
    position: relative;
    left: 0.7em;
    top: 0.7em;
    display: flex;
    border-color: #01c8ee;
    border-right-style: solid;
    border-bottom-style: solid;
}

/* remove the right-most border */ 
#board div:nth-child(3n){
    border-right: none;
}

/* remove the bottom-most border */ 
#board div:nth-last-child(-n+3){
    border-bottom: none;
}


#start, #reset{
    width:160px;
    height: 64px;
    border-radius: 2em;
    border: none;
    color: #e41376;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #01c8ee;
    position: absolute;
    top: 18em;
    left: 2em;
}

#reset {
    position: absolute;
    top: 22em
}