body {
    /*background-color: #8e5915;*/
    position: relative;
    margin: 0;
    width: 100%;
    height: 100vh;
}


/*place a drak cover over the image*/
body::before{
    position: absolute;
    inset: 0;
    content: '';
    z-index: -1;
    background: rgba(14, 21, 37, 0.8);
}

/*position image behind the dark cover*/
img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

#hero{
    padding: 30px;
    display: flex;
}

#hero .icon{
    background-color: #01c8ee;
    content: '';
    width:50px;
    height: 50px;
    border-radius: 25px;
}

#hero .icon-name{
    color: white;
    font-size: 30px;
    margin: 10px 0 0 10px;
}

#main-form{
    margin: 40px 0 0 25vw;
    background-color: rgb(142, 89, 21, 0.7);
    width: 50vw;
    height: 65vh;
    border-radius: 30px;
    padding:30px 0 0 50px;
}

.form-sec1 span{
    color:#423738;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-decoration: underline;
}

.form-sec2{
    margin-top: 10px;
    color:azure;
    font-size: 15px;
}

.form-sec3{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 5vh 0 0 0;
}


input{
    height: 5em;
    width: 20.6vw;
    border: none;
    border-radius: 20px;
    padding-left: 10px;
    background-color: #d3af85;
    color: #423738;
}

.input3, .input4{
    display: block;
    width: 44vw;
}


button{
    margin: 5vh 0 0 10vw;
    background-color: #1a1a1a;
    border: none;
    border-radius: 50px;
    width: 20vw;
    min-height: 9vh;
    color: #b48a63;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-loader {
    display: flex;
    gap: .25rem;
}

.btn-loader > div{                      /*targets each div*/
    width: .8rem;
    height: .8rem;
    background-color: white;
    border-radius: 50%;
    animation: 1.2s infinite ease-in-out scaleUp;
}

.btn-loader div:nth-child(1){
    animation-delay: -0.32s;
}

.btn-loader div:nth-child(2){
    animation-delay: -0.16s;
}

@keyframes scaleUp{
    0%, 80%, 100%{
        transform: scale(0);
    }
    40%{
        transform: scale(1);
    }
}

.btn-loader {
    display: none;

}

.js-button.Loading .btn-text{
    display: none;
}

.js-button.Loading .btn-loader{
    display: flex;
}

.js-button.Loading {
    cursor: wait;
}