
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.tree{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.root{
    position: relative;
    left: 40px;
}
.node, .root{
    width: 70px;
    height: 70px;
    background-color: #3498db;
    color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-weight: bold;
    position: relative;
    margin: 20px;
}
.level{
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 30px;
    gap: 20px;
}
.line{
    position: relative;
    width: 60px;
    height: 60px;
    border-left: 2px solid black;
    border-top: 2px solid black;

    transform: rotate(47deg);
    top: -30px;
    left: 165px;
}
